
/* Header styling */
.header {
    display: flex;
    flex-direction: row; /* Horizontal layout */
    width: 100%;
    min-height: 100vh; /* Ensure it covers the viewport height */
    background-image: url('./assets/homeSide.jpg'); /* Same image for continuity */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    text-align: center;
    color: white;
    margin-top: 50px;
  
  }
  
  /* Overlay to darken the background image */
  .outerLeftdiv{
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .overlay {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay for readability */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px; /* Add padding for better text layout */
    overflow: hidden; /* Prevent content overflow */
    border-radius: 30px;
    max-width: 450px;
  }
  
  .headerRight {
    flex: 1; /* Allow the headerRight to take up available space */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  /* Styling for the title */
  .header h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  /* Styling for the description paragraph */
  .description {
    font-size: 1.25rem;
    margin-bottom: 20px;
    width: 100%; /* Ensure it takes the full width */
    word-wrap: break-word; /* Ensure long words break to the next line */
  }
  
  /* Styling for the buttons */
  .header .btn {
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 10%;
  }
  
  .brandsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:auto;
    margin-top: 50px;
  }
  .brands{
    width: 100%;
    height : 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay for readability */
    margin-bottom: 3px;
  }
  .ItemsContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
  }
  .adSlideContainer{
    width: 50%;
    height: 250px;
  }
  
  .cataSwiper
  {
    width: 80%;
    border-radius: 50px;
  }
  .AdSliderWholeContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 80px;
    padding: 50px;
  }
  .adSlider{
    width:50%;
  }
  .adSliderinfo{
    width: 40%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  
  /* Responsive styling */

  @media (max-width: 1424px) {
    .adSliderinfo h1{
      font-size: 2em;
    }
    .adSliderinfo p{
      font-size: 0.9em;
    }
  }

  @media (max-width: 870px) {
    .AdSliderWholeContainer{
      flex-direction: column;
      width: 100%;
    }
    .adSlider{
      width:100%;
    }
    .adSliderinfo{
      width: 100%;
      height: 500px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-evenly;
    }
  }
  @media (max-width: 768px) {
    .header {
      flex-direction: column; /* Stack elements vertically */
      align-items: center; /* Center align items */
    }
  .outerLeftdiv{
    width: 100%;
  }
    .overlay, .headerRight {
      width: 100%; /* Ensure full width */
      flex: none; /* Prevent flex grow/shrink */
    }
  
    .header h1 {
      font-size: 2rem;
    }
  
    .description {
      font-size: 1rem;
      padding: 0 10px; /* Add padding for better readability on small screens */
      word-wrap: break-word; /* Ensure long words break to the next line */
    }
    .outerLeftdiv{
      justify-content: center;
    }
    .header .btn {
      font-size: 0.875rem;
      padding: 8px 16px;
    }
  
    .brands{
      height: 70px;
    }
    .cataSwiper
  {
    width: 90%;
    border-radius: 30px;
  }

 

  }
  
  @media (max-width: 576px) {
    .brands{
      height:40px;
      margin-bottom: 0;
    }
    .cataSwiper
  {
    width: 100%;
    border-radius: 30px;
  }
  .AdSliderWholeContainer{
    padding: 0px;
  }
  .adSlider{
    width:100%;
    height: 250px;
  }
  }
  @media (max-width: 425px) {
  .adSlider{
    width:100%;
    height: 200px;
  }
  }

  @media (max-width: 320px) {
    .adSlider{
      width:100%;
      height: 150px;
    }
    }